.bloque{
    background-color: aquamarine;

}

.formulario{
    background-color: rgb(233, 95, 141);
}

.mapa{
    background-color: rgb(160, 62, 206);
}

.apiMapa{
    background-color: rgb(48, 87, 196);
}

.apiTiempo{
    background-color: rgb(255, 251, 0);
}