.bloque{
    background-image: url("../../imagenes/fondo-vivarium-web-rotada.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-size: cover;
    padding-bottom: 50px;
    padding-left: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.h2Bloque3{

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;

}

.cardFormulario{
    background: #FFFFFF;
    width: 444.61px;
    height: 453.55px;
    border-radius: 5px;
    display:block;
    margin-left:39px;
    justify-content: center;
}
.formulario{
    padding-top: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;    
}
.inputform{
    border-color: transparent;
    border-bottom-color: #060c14;
    display:block;
    width:300px;
    padding: 10px;
    margin-block: 8px;
    
}

.enviar{
    background-color: #060c14;
    border: 1px solid #060c14;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: White;
    width: 164.61px;
    height: 39.3px;
    margin: 20px;
    font-size:medium;
}


.cardMapa{
    background: #060c14;
    width: 444.61px;
    height: 453.55px;
    border-radius: 5px;
    margin-right:39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apiMapa{
    background-image:url("../../imagenes/mapaPorvi.png");
    background-size: cover;
    width: 372px;
    height: 150px;
    left: 222px;
    top: 2730px;
    padding-top: 40px;
    align-items: center; 
    justify-content: center;
    margin:20px auto;
    border-radius: 5px;
}

.apiTiempo{
    
    width: 372px;
    height: 100px;
    left: 300px;
    top: 2730px;
    align-items: center; 
    justify-content: center;
    margin:20px auto;
}

.apiTiempoPrediccion{
    color:white;
    font-size: small;
    font-style: bold;
    margin:0px auto;
    align-items: center; 
    justify-content: center;
    padding-inline: 10px;
}

.avisoDatosTiempo{
    background-color: #FFFFFF;
    color:#060c14;;
    font-size: small;
    font-style: italic;
    margin:10px auto;
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
    padding: 20px;


}

.alertita {
    color: red;
    font-size: small;
    font-weight: 400;
}

.alertitaGuay {
    font-size: large;
    color: #060c14;
    font-weight: bold;
}