.bloque{
    background-image: url("../../imagenes/fondo-portada.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.cardFormulario{
    background: #FFFFFF;
    width: 444.61px;
    height: 453.55px;
    border-radius: 5px;
    display:block;
    margin-left:39px;
    justify-content: center;
}
.formulario{
   align-content: center;
   display:block;
    margin:auto; 
    justify-content: center;
}
.inputform{
    border-color: transparent;
    border-bottom-color: #031B27;
    display:block;
    justify-content: center;
    
}



.cardMapa{
    background: #031B27;
    width: 444.61px;
    height: 453.55px;
    border-radius: 5px;
    display:inline-block;
    margin-right:39px;
}

.h2Bloque3{

    display: flex;
    justify-content: center;
    align-items: center;

}

.apiMapa{
    background-color: rgb(48, 87, 196);
}

.apiTiempo{
    background-color: rgb(255, 251, 0);
}