import React, { useState } from "react"
import mas from '../imagenes/mas.svg'
import '../css/catalogo.css';
import Cards from '../db.json'
import ReactCardFlip from 'react-card-flip';

function Catalogo() {
  const [isFlipped, setIsFlipped] = useState(false);

  const handleClick = () => {
    setIsFlipped(!isFlipped);
  };
  return (
    <div className="Catalogo">
    {
      Cards.map(card => {
      return(
      <div className="Cards">
          <div className="CardsInner"  key={ card.id }>
          <ReactCardFlip isFlipped={isFlipped} flipDirection="vertical">
          {/* Tarjeta Front */}
              <div className="CardsFace CardsFaceFront">
                  <div className="CardsHeader">
                  <img src={ card.img }  alt="" className="ImagenEspecie" />
							    <h2>{ card.nombre }</h2>
							    <div className="BotonMas">
								    <img src={mas} className="VerMas" onClick={handleClick}/>
							    </div>
              </div>
          </div>
         {/* Tarjeta back */}
              <div className="CardsFace CardsFaceBack">
                   <div className="CardsBody" onClick={handleClick}>
						            <p>{ card.texto }</p>
					        </div>
					        <div className="BotonBack">
						      <a href="#" className="Btn">Apadrinar ❤️</a>
					        </div>
              </div>
          </ReactCardFlip>
        </div>
    </div>
    )
  })
  }
  </div>
  );
}
