<head>
    <link rel="stylesheet" href="../css/Catalogo.css">
</head>

<div class="Catalogo">
    <header class="Catalogo-header">
        <div class="CardC">
            <div class="CardC-inner">
                <div class="CardC-face CardC-face-front">
                    <div class="CardC-header">
                        <img src="../imagenes/pradera-de-posidonia 2.svg" alt="" class="CardC-imagen">
                        <h2>Posidonia Oceánica</h2>
                        <img src="../imagenes/mas.png" alt="" class="CardC-boton-front">
                    </div>
                </div>
                <div class="CardC-face CardC-face-back">
                    <div class="CardC-content">
                        <div class="CardC-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ducimus.</p>
                            <a href="#" class="btn">Apadrinar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<script>
    const card = document.querySelector('.CardC-inner');

    card.addEventListener('click', function (){
        card.classList.toggle('is-flipped')
    });

</script>