@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.Catalogo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #021B27;
  font-family: 'Inter', sans-serif;
  padding-bottom: 100px;
}

.Cards {
  margin: 100px auto 0;
  width: 300px;
  height: 500px;
}

.CardsInner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.CardsInner.is-flipped {
  transform: rotateY(180deg);
}


.CardsFace {
  position: fixed;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 5px;
  border: 3px solid #fff;
}

.CardsFaceFront {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}


.CardsFaceBack {
  background-color: #fff;
  position: relative;
  transform: rotateY(180deg);
}

.CardsHeader {
  position: relative;
  padding: 30px 30px 40px;
}

/* .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  } */

.ImagenEspecie {
  display: block;
  width: 240px;
  height: 240px;
  margin: 30px 10px 5px 10px;
  border-radius: 5px;
  /* border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover; */
}

.VerMas {
  display: block;
  width: 70px;
  height: 70px;
  margin: 40px auto;
  cursor: pointer;
}

.CardsHeader h2 {
  color: #fff;
  font-size: 25px;
  text-align: left;
}

.CardsBody {
  /* background-color: #fff; */
  padding: 30px;
}

.CardsBody p {
  /* background-color: #fff; */
  color: #000;
  font-size: 20px;
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.Btn {
  color: #fff;
  background: #031B27;
  border: 2px solid #031B27;
  border-radius: 5px;
  padding: 10px 30px;
  /* margin-top: 30px; */
  text-decoration: none;
  position: absolute;
}

.BotonBack {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Equis {
  font-size: 18px;
  display: flex;
  justify-content: right;
  font-weight: bold;
  cursor: pointer;
}

/* .card__body,
   .btn{
    display: flex;
    justify-content: center;
  } */

/* .BotonMeGusta{
    width: 30px;
    height: 30px;
    margin-left: 10px;
  } */


/* .btn:hover {
    background: #fff;
    color: #000;
  } */