.Portada {
    text-align: center;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Portada-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
.Portada-header {
    background-image: url("../src/imagenes/fondo-vivarium-web.png");
    background-size: cover;
    padding-bottom: 50px;
    padding-left: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
.App-link {
    color: #fff;
  }

.Barra {
    color: white;
    list-style:none;
    float: right;
    margin-left: 1000px;
  }
li {
  display: inline-block; 
  padding:10px;
  

}
   
.Entradilla{
  color: white;
  text-align: center;
  margin: 100px 300px 30px 300px;
}



h2 {
  color: white;
  font-weight: 400;
  text-align: center;
  font-weight: bold;
}



li {
  display: inline-block; 
  padding:10px; 
}
 
.Footer {

    color: #fff;
    background-color: rgb(2, 2, 31);
  }

.box {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.copy { 
  text-align: center;
}

.cajita {
  width: 300px;
}

.iconos {
  display: block;
  width: 176px;
  height: 50px;
  margin: auto;
  margin-left: 60px;
  border: 2px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: White;
}

.iconcito1 {
  background-image: url(/src/imagenes/facebook.svg);
  width: 50px;
  height: 50px;
  position: absolute;
}

.iconcito2 {
  background-image: url(/src/imagenes/wa-02.svg);
  width: 50px;
  height: 50px;
  margin-left: 40px;
  position: absolute;
}

.iconcito3 {
  background-image: url(/src/imagenes/Instagram-02.svg);
  width: 50px;
  height: 50px;
  margin-left: 80px;
  position: absolute;
}

.iconcito4 {
  background-image: url(/src/imagenes/linkedin-02.svg);
  width: 50px;
  height: 50px;
  margin-left: 120px;
  position: absolute;
}