.Portada {
    text-align: center;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Portada-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
.Portada-header {
    background-image: url("../src/imagenes/fondo-vivarium-web.png");
    background-size: cover;
    padding-bottom: 50px;
    padding-left: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
.App-link {
    color: #fff;
  }

.Barra {
    color: white;
    list-style:none;
    float: right;
    margin-left: 1000px;
  }
li {
  display: inline-block; 
  padding:10px;
  

}
   
.Entradilla{
  color: white;
  text-align: center;
  margin: 100px 300px 30px 300px;
}



h2 {
  color: white;
  font-weight: bold;
  
}

a {
  font-size: 1em;
    color: #fff;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;


}
 
.Footer {

    color: #fff;
    background-color: rgb(2, 2, 31);
  }

.box {
  display: flex;
  justify-content: space-around;
}

.copy { 
  text-align: center;
}

.MisiónF {
  text-align: left;
}
